<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %logger{15} - %message%n%xException{5}</pattern>
        </encoder>
    </appender>

    <!-- log levels -->
    <logger name="akka" level="INFO"/>
    <logger name="access" level="TRACE"/>
    <logger name="com.codahale.metrics.JmxReporter" level="ERROR"/>
    <logger name="javax.management" level="ERROR"/>
    <logger name="sun.rmi" level="ERROR"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
